.menu_cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 100px 100px;
  list-style: none;
  padding: 0 100px;
  margin: 0;
}

.card:last-child {
  grid-column: 1 / -1;
  justify-self: center;
}

.card {
  text-align: left;
  min-width: 260px;
  max-width: 540px;
  width: 540px;
}

.card__title {
  margin: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 8px;
  width: 100%;
}

.card__list-divider {
  border-bottom: #838383 solid 1px;
  flex-grow: 1;
  margin: 0 6px 3px;
}
